.navbar-main-white {
  @include navbar(black, white);
}

.navbar {
  box-shadow: $gs_box_shadow_light;
  .navbar-nav {
    li {
      margin-left: 10px;
      margin-right: 10px;
      a {
        text-transform: capitalize;
        font-size: 1rem;
        color: $gs_grey_dark;
        letter-spacing: 0.8px;
      }
    }
  }
}
